// sass 全局属性 
$width: 1200px;

//color
$theme-background-color:#121E35; //主题背景色
$theme-font-color:#FFFFFF;   //主题文字颜色
$theme-active-color:#51BCFE;   //主题选中色
$theme-tab-color:rgba(255, 255, 255, 0.8);  //header tab栏字体颜色